.child {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
